@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,600;1,600&display=swap');

:root{
    --cor-primaria:#000;
    --cor-secundaria: #DFF2EB;
    --cor-terciaria:#7AB2D3;
    --cor-hover:#7AB2D3;
   
    --fonte-primaria:'Krona One',sans-serif;
    --font-secundaria: 'Montserrat',sans-serif;
}
*{
margin:0;
padding:0;

}
body {
    /* height: 100vh; */
    box-sizing: border-box;
background-color:var(--cor-primaria);
color:var(--cor-secundaria);
}
.titulo-destaque{
    color:var(--cor-terciaria)
}

.apresentacao{
    display: flex;
    padding: 5% 15%;
    /*flex-direction: row;A propriedade CSS flex-direction define 
    como os itens flexíveis são colocados no contêiner flexível,
     definindo o eixo principal e a direção (normal ou invertido).
    flex-wrap: wrap;
    A propriedade CSS flex-wrap define se os itens 
    flexíveis são forçados a ficarem na mesma linha ou
     se podem ser quebradas em varias linhas. 
     Se o argumento for valido,
     ele define a direção em que as linhas são empilhadas.*/
     justify-content: space-between;
gap: 82px;}

.foto{
    margin: 0%;
    padding: 0%;
   
    width: 50%;
}
.apresentacao_conteudo{
    width:50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao_conteudo_titulo{
    font-size:1.7rem;
    /* dividir pixels por 16 
    para descobrir a unidade em rem */
    font-family: var(--fonte-primaria);
}

.apresentacao_conteudo_texto{
    font-size:1.5rem;
    font-family: var(--font-secundaria);
}
.apresentacao_links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.apresentacao_links_subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}
.apresentacao_link{
   /* background-color: #22d4fd; */
   display: flex;
   justify-content: center;
   width: 50%;
   text-align: center;
   border-radius: 16px;
   padding: 21.5px  0;
   text-decoration: none;
   color: var(--cor-secundaria);
   font-family: var(--font-secundaria);
   font-weight: 600;
   border:2px solid var(--cor-terciaria) ;
   border-radius: 8px;
   gap: 5px;
}
.apresentacao_link:hover{
    background-color: var(--cor-hover);
}
.rodape{
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: 24px;
    font-weight: 400; 
}
.cabecalho_menu_link{
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 600px;
    color: var(--cor-terciaria);
    text-decoration: none;
}
.cabecalho{
    padding: 2% 0  0 15%;

}
.cabecalho_menu{
    display: flex;
    gap: 80px;
}

@media(max-width: 1200px) {
    .apresentacao{
        flex-direction: column-reverse;
    padding: ;
    }.cabecalho_menu{
        justify-content: center;
    }
    
    .cabecalho{
    padding: 10%;
    
    }
    .apresentacao_conteudo{
        width: auto;
    }
    .foto{
        width: auto;
    }
}